.form-block{
    width:50%;
    height:300px;
    text-align:center;
}

form{
    width:80%;
    height:250px;
    text-align:center;
    padding:5px;
}

select{
    width:80%;
    height:60px;
    text-align:center;
    border-radius:10px;
}

option{

}

.btn-submit{
    width:150px;
    height:70px;
    text-align:center;
    background-color: rgb(99, 192, 251);
    border-radius: 30px;
}

.btn-submit:hover{
    background-color: black;
    color:white;
}

input{
    width:80%;
    height:60px;
    margin:5px;
    text-align:center;
    border-radius:10px;
}

.text{
    width:70%;
    height:60px;
}